.header {
    display: flex;
    justify-content: center;
    background-color: lightseagreen;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}

.footer {
    background-color: gray;
    height: 50px;
   
    
}

.image {
    display: flex;
    justify-content: flex-end;
}